@import '../../config.less';
#Home {
  header {
    height: 100vh;
    width: 100%;
    background: url('assets/img/home/header.png') fixed no-repeat center;
    background-size: cover;
    color: @lightTxt;
    text-align: center;
    position: relative;
    span {
      font-family: 'Gotham-Light';
      display: block;
      margin: auto;
    }
    .scroll-button {
      position: absolute;
      bottom: 0;
      a {
        &:first-child {
          display: inline-block;
          color: @lightTxt;
          padding: 0 70px;
          background: @greyTransparent;
          i {
            transform: rotate(270deg);
            font-size: 40px;
          }
        }
        &:last-child {
          width: 100vw;
          height: 20px;
          display: block;
          background: @greyTransparent;
        }
      }
    }
  }
  // -----------------------
  // overide accordion vanilla css
  .ac {
    border: none;
  }
  .ac-q {
    height: 80vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @lightTxt;
    padding: 0;
    h2 {
      text-align: center;
    }
    &:focus {
      outline: 0;
    }
  }
  .ac>.ac-q::after {
    content: none;
  }
  .ac>.ac-a p {
    font-size: inherit;
    font-family: 'Roboto-Regular';
    color: inherit;
    padding: 0;
  }
  // -----------------------
  .section-contents {
    padding-top: @spacing2;
  }
}