// ----------------------------------------------------
// font paths
// ----------------------------------------------------
@fonts: 'assets/fonts/';
@gothamBold: '@{fonts}gothamBold/';
@gothamLight: '@{fonts}gothamLight/';
@staticBold: '@{fonts}staticBold/';
@robotoLight: '@{fonts}robotoLight/';
@roboto: '@{fonts}robotoRegular/';
// ----------------------------------------------------
// colors
// ----------------------------------------------------
@lightTxt: white;
@darkTxt: black;
@pink: #de216b;
@orangeLight: #ff7e33;
@orange: #f86c08;
@orangeDark: #ff5e00;
@yellow: #ffb700;
@yellowLight: #ffe8af;
// ----------------------------------------------------
// spacing values
// ----------------------------------------------------
@spacing: 10px;
@spacing2: calc(@spacing * 2);
@spacing3: calc(@spacing * 2);
@spacing4: calc(@spacing * 4);
@spacing5: calc(@spacing * 5);
// ----------------------------------------------------
// Font size values
// ----------------------------------------------------
@fontXSm: 1.1rem;
@fontSm: 1.3rem;
@fontMd: 1.5rem;
@fontLg: 2.3rem;
@negFontSm: 0.7rem;
// ----------------------------------------------------
// breakpoint values => bootsrap duplicate
// ----------------------------------------------------
@bpSm: 576px;
@bpMd: 768px;
@bpLg: 992px;
@bpXl: 1200px;
// ----------------------------------------------------
// Animations mixins
// ----------------------------------------------------
.push-animation(@scale) {
  transition: all 0.5s;
  &:hover {
    transform: scale(@scale);
  }
}

.regular-button(@color, @push-value, @width) {
  font-size: @negFontSm;
  background: @color;
  color: @lightTxt;
  padding: 10px 5px;
  margin: @spacing4 0 0 auto;
  display: block;
  width: @width;
  text-align: center;
  .push-animation(@push-value);
}

// ----------------------------------------------------
// Set main font-size
// Use media queries to scale all rem values
// ----------------------------------------------------
html {
  font-size: 20px;
  @media screen and (max-width: @bpSm) {
    font-size: 15px;
  }
}